
.caixa_principal{
    display: inline-block;
    margin: 10% 35% 10% 35%;
    align-items: center;
    background: white;
    border-radius: 10px;
    text-align: center;
    font-family: 'Dancing Script', cursiva;
   
}

.img_titulo{
    width: 410px;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}

.titulo{
    margin: 5%;
    text-align: left;
}

.tempo_preparo{
    background: #fff7fc;
    display: inline-block;
    color:hsl(332, 51%, 32%);
    width: 90%;
    border: 10px;
    text-align: left;
    margin: 10px;
    /* border: 1px solid red;   */
    border-radius: 10px;
    padding: 20px;
}


.ingredientes{
    display: inline-block;
    width: 90%;
    border: 10px;
    text-align: left;
    margin: 10px;
    border-bottom: solid 1px #605752;
    color:#605752;
    /* border: 1px solid red;   */
}

.modo_preparo{
    display: inline-block;
    width: 90%;
    border: 10px;
    text-align: left;
    margin: 10px;
    border-bottom: 1px solid #605752;
    color:#605752;
    /* border: 1px solid red;   */
}

.nutricional{
    display: inline-block;
    width: 90%;
    border: 10px;
    text-align: left;
    margin: 10px;
    color: #605752;
    /* border: 1px solid red;   */
}
 
ul, ol{
    margin: 20px;
    padding: 0;
  }
  
li {
    padding: 5px;
    
  }

th{
    padding-left: 200px;
}

p, li{
    font-size: 20px;
}

h2{
    color: hsl(14, 45%, 36%);
    font-size: 30px;
}

  